* {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
    border: none;
}
a {
    color: #fff;
    text-decoration: none;
}
button {
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
}
/* Base */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    background-color: #fff;
}
.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
}
/* Product */
/* Header */
.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(218, 211, 211);
}
.logo img {
    width: 80px;
}
.cart {
    font-size: 24px;
    color: #333;
    display: flex;
}
.cart p {
    justify-self: flex-start;
    font-size: 14px;
    background-color: red;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
}
/* Main */
.title {
    font-size: 40px;
}
.list-product {
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 25%;
    text-align: center;
    align-items: flex-end;
}
.item button {
    width: 70%;
    height: 25px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
}
.item button:hover {
    opacity: 0.8;
}
.item button:focus {
    opacity: 1.2;
}

/* Cart */
.list-cart {
    text-align: center;
}
.list-cart img {
    width: 100px;
}
.name {
    width: 200px;
}
.list-cart button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    margin-left: 15px;
}
